parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests

    ignoreErrors:
        - '~Constant SimPod\\Kafka\\Clients\\(Consumer|Producer)\\.+?Config::[A-Z_]+ is unused.~'

includes:
    - phpstan-baseline.neon
